<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <!--
     java.sql.SQLException: Access denied for user 'Administrator'@'localhost' (using password: YES)
     MyBatis+spring整合的时候爆了个奇葩的bug
    -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath*:properties/jdbc.properties</value>
            </list>
        </property>
    </bean>

    <!-- 启动Spring注解 -->
    <context:annotation-config/>
    <!-- 进行扫描配置,如果有多个路径的话,使用逗号进行分隔 -->
    <context:component-scan base-package="com.pangsir">
        <context:exclude-filter type="annotation"
                                expression="org.springframework.stereotype.Controller"/>
        <context:exclude-filter type="annotation"
                                expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>


</beans>
